.signin-nav-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0px;
}
.signin-nav{
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
#username, #password, #fullname, #comfirm_password{
    width: 200px;
    height: 20px;
    margin: 10px;
    color: #333333;
}

.signin-title{
    text-align: center;
    width: 200px;
    height: 20px;
    margin: 10px;
    color: #df5334;
}
  
.switch-to-signup{
    margin: 20px;
    color: #a3a2a3;
    text-align: center;
}
  
.switch-to-signup:hover{
    color: black;
    cursor: pointer;
}
  
.signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-submit{
    color: white;  
    background: #df5334;
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
}
  
.signin-submit:hover{
    background: #db6937;
}
  
#signin-container{
    height: 320px;
    padding: 10px 40px 25px 40px;
    width: 230px;
    background-color: white;
    border-radius: 5px;
    border-top: 15px solid #df5334;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 100px;
}
  
.signin-input{
    padding: 5px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 5px;
}
.signin-error-msg{
    font-size: 13px;
    color:#B02B15
}