.account-list-list{
    margin-top: 2%;
    width: 80%;
    background-color: white;
}
.account-list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
}
.account-list-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    height: 25px;
    align-items: center;
}
.account-list-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
}
.account-list-tag{
    height: 20px;
    width: 10%;
    background-size: contain;
    background-repeat: no-repeat;
}
.account-list-name{
    width: 50px;
    text-align: center;
}
.account-list-amount{
    width:40px;
    text-align: right;
}

.account-list-status{
    margin-left: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50px;
}


.food {
    background-image: url(../../images/food.png);
}

.cloth {
    background-image: url(../../images/cloth.png);
}

.health {
    background-image: url(../../images/health.png);
}
.balanced {
    background-image: url(../../images/account.png);
}
.groceies {
    background-image: url(../../images/grocery-cart.png);
}
.fare {
    background-image: url(../../images/bus.png);
}
.entertainment {
    background-image: url(../../images/dancer.png);
}
.hotel {
    background-image: url(../../images/accomodation.png);
}
.income {
    background-image: url(../../images/income.png);
}
