.list{
    margin-top: 2%;
    width: 80%;
    background-color: white;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
}
.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    height: 25px;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
}
.tag{
    height: 20px;
    width: 10%;
    background-size: contain;
    background-repeat: no-repeat;
}

.food {
    background-image: url(../../images/food.png);
}

.cloth {
    background-image: url(../../images/cloth.png);
}

.health {
    background-image: url(../../images/health.png);
}
