.account{
    margin-top: 10vh;
    margin-left: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    height: 90vh;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 70%;
    height: 90%;
}
.chart{
    width: 80%;
    height: 35%;
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.lineChart{
    width: 100% !important;
    height: 100% !important;
}
.lists{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 100%;
    height: 60%;
    max-height: 60%;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 30%;
    height: 100%;
}
.account-overview{
    height: 30%;
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account-overview-header{
    height: 48px;
    padding: 2% 0%;
    width: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 99, 133, 0.47);
    border:rgba(255, 99, 133);  
    border-radius: 2px;
}
.account-overview-contents{
    display: flex;
    flex-direction: column;
    justify-self: start;
    width: 80%;
    margin-top: 2%;
}

.account-overview-content{
    height: 20%;
    margin: 5% 0% 5% 0% ;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 18px;
    justify-content: space-between;
}
.account-overview-title{
    margin-left: 2%;
    font-weight: solid;
    font-weight: 600;
    font-size: 16px;
}
.account-overview-amount{
    margin-right: 2%;
    text-align: right;
}
.account-member{
    height: 55%;
    width: 70%;
    margin-top: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    max-height: 55%;
}
.account-member-header{
    height: 48px;
    padding: 2% 0%;
    width: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 99, 133, 0.47);
    border:rgba(255, 99, 133); ;
    border-radius: 2px;
}
.account-member-lists{
    display: flex;
    flex-direction: column;
    justify-self: start;
    width: 80%;
    margin-top: 2%;
}
.account-member-list{
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.account-member-picture{
    margin-top: 8%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.account-member-name{
   margin-left: 30px;
   font-size: 18px;
}
.account-member-footer{
    height: 30px;
    width: 80%;
    margin-top: 15px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.account-add-member{
    height: 30px;
    width: 30px;
    background-image: url(../../images/add.png);;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}